/* =============
    Variables
============= */

// Define the breakpoints
// Small tablets and large smartphones (landscape view)
$screen-sm-min: 576px;

// Small tablets (portrait view)
$screen-md-min: 768px;

// Tablets and small desktops
$screen-lg-min: 992px;

// Large tablets and desktops
$screen-xl-min: 1200px;

// Colors
$white: #fff;
$black: #000;
$blue: #149fd5;
// $grey: #a6a6ae;
// $pink: #d30075;
$lightGrey: #e8edf4;

$red: #f25457;
$mintCream: #F7FBFA;
$platinum: #D9EDE2;
$mintCreamDark: #F6FCFB;
$turquoise: #99CCBB;
$orange: #ff7443;
$burntYellow: #ffa31c;
